*{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
}
/* body {
    max-width: 100%;
    overflow: hidden;
} */
.partner-container{
    width: 100%;
    position: relative;
    background-color: #fff;
    display: block;
}
.partner-container-2{
    padding: 3rem 3rem;
}
.partner-text{
    display: block;
    text-align: center;
    margin: 0rem 1rem;
    margin-bottom: 2rem;
    color: grey;
}
.partner-logo-2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.partner-logo{
    display:block;
}
.partner-img{
    width: 170px;
    height: 95px;
    padding: 0px 10px 30px 10px;
}
.ptext{
    color: rgb(43, 157, 227);
    font-weight: 600;
}
.phead{
    font-weight: 300;
    font-size: 2.4rem;
    color: black;
}

/* Footer CSS */
.footer{
    width: 100%;
    background-color: #0054a5;
}
.footer-container{
    margin:0rem 5rem 4rem;
    display: flex;
    gap: 20px;
}

.logo-text-footer{
    display: flex;
    margin: 0rem 3rem 3rem 3rem;
    padding-top: 3rem;
    align-items: center;
    color:#aacef2;
    gap: 10px;
}
.footer-logo-text{
    display: flex;
    gap: 1rem;
}
.last-text-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    margin: 0px 3rem;
}
.quicklink-items{
    margin-bottom: 0.8rem;
    color: #aacef2;
    width: 140px;
}
.quicklink-items::before{
    content:"▸ ";
}
.quicklink-items-2{
    color: #aacef2;
    display: flex;

}
.footer-subcontainer{
    width: 320px;  
}
.footer-contact{
    margin-bottom: 25px;
}
.contact-logo-footer{
    margin-right: 1rem;
}
.quicklinks{
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;

}
.material-symbols-outlined {
     font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* Need help section */
.need-help{
    width: 100%;
    position: relative;
    background-color: #efefef;
}
.help-container{
   display: flex;
   flex-flow: column nowrap;
   padding: 3rem;
}
.help-sub-1{
    display:block;
    text-align: center;
    margin-bottom: 2rem;
}
.help-head{
    font-size: 2.4rem;
    font-weight: 300;
}
.help-text{
    color: grey;
}
.help-sub-2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}
.button-help{
    padding: 1rem;
    background-color: #0054a5;
    border-radius:0.4rem ;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 180px;
}
.phone_no-help{
    background-color: rgb(230, 230, 230);
    color: #000;
}
.phone_no-help:hover{
    background-color:rgb(68, 183, 255) ;
    color: #fff;
}
.contact_us-help:hover{
    background-color:rgb(68, 183, 255) ;
    color: #fff;
}
/* map */
.location-map-container{
    width: 100%;
    background-color: #efefef;
    height: 300PX;    
}
.map-head{
    font-size: 2.4rem;
    font-weight: 300;
  
}
.location-map{
    text-align: center;
    position: relative;
    background-color: #fff9f9;
}
.map-text{
    color: rgb(43, 157, 227);
    font-weight: 600;
    padding: 2rem 0.7rem 0.7rem 0.7rem;
    margin-bottom: 0px!important;
  
}
.map-text-para{
    color: grey;
    padding-bottom: 1.5rem;
}
.social-share{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
.social-links{
    height: 3rem;
    width: 3rem;
    transition:0.1s ease-in;
}
.icons{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   color:#aacef2;
}
.facebook:hover{
color:#0084ff;
}
.whatsapp:hover{
    color: rgb(0, 226, 0);
}
.x:hover{
    color: black;
}
.instagram:hover{
    color: rgb(255, 61, 158);
   
}
.download-app{
    height: fit-content;
    display: flex;
}
.store{
    display: flex;
    height: 100%;
    width: fit-content;
}
.store-img{
    height: 50px;
    background-color: #fff;
}
/* Media Queiries */

@media (max-width:480px){
    .help-sub-2{
        flex-direction: column;
        align-items: center;
    }
    .button-help{
        width: 180px;
        flex-basis: 0px;
    }
}
@media(max-width:835px){
    .footer-container{
        flex-wrap: wrap;
        gap: 0px;
    }
}
@media(max-width:720px){
    .footer-container{
        justify-content: center;
    }
    .last-text-footer{
        margin: 0rem 1rem;
    }
}
@media(max-width:440px){
    .footer-container{
        margin: 0px;
        padding:0rem 1rem;
    }
    .logo-text-footer{
        flex-direction: column;
        margin:0rem 0rem 2rem 0rem;
    }
    .last-text-footer{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .download-app{
        justify-content:space-between ;
    }
    .social-share{
        gap: 0px;
    }
}
@media(max-width:270px){
    .download-app{
        flex-direction: column;
        align-items: center;
    }
    .sub-container-footer-3{
        height: 250px;
    }
    .footer-subcontainer{
        margin: 10px 0px;
    }
    .partner-container-2 {
      margin:0px;
      padding: 3rem 0rem;
    }
}
/* CSS Features */

.Features{
    width: 100%;
    padding-bottom: 10px;
    background-color: #ffffff;
}
.feature-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
.feature-maincard{
    padding: 2rem;
}
.feature-header{
    display:block;
    text-align: center;
    margin-bottom: 2.2rem;
}
.feature-header-text1{
    font-weight: 600;
    color: rgb(43, 157, 227);
    margin-bottom: 0px!important;
}
.feature-header-text2{
    color: grey;
}
.feature-header-head{
    font-size: 2.4rem;
    font-weight: 300;
 }
.feature-main{
    display: flex;
    justify-content: center;
    margin: 0rem 5rem 3rem;
}
.feature-cards{
    width: 100%;
    line-height: 2.5rem;   
}
.feature-sub{
    width: 90%;
    height: 100%;
    text-align: justify;
    color: grey;
}
.feature-sub h2{
    color: #000;
    font-weight: 400;
    text-align: center;
} 
.feature-sub img{
    margin-bottom: 20px;
    transition: 0.2s ease-in;
}
.feature-sub img:hover{
    transform: scale(1.2);
}
.img-feature{
    display: flex;
    justify-content: center;
}
@media (max-width:1000px){
    .feature-card-container {
        display: grid;
        grid-template-columns:1fr;
        gap: 1rem;
    }
    .feature-sub{
        width: 100%;
    }
    .feature-main{
        margin: 0px;
    }
    .feature-cards{
        line-height: 1.7rem;
    }
    .feature-sub{
        text-align: center;
    }
}
/* CSS recent */
.Recents{
    width: 100%;
    background-color:#f5f5f5;   
}

.recent-header{
   text-align: center;
   color: grey;
   margin-bottom: 1.5rem;
}
.recent-header-text1{
    color: rgb(43, 157, 227);
    font-weight: 600;
    margin-bottom: 0px!important;
}
.recent-header-head{
    font-size: 2.4rem;
    font-weight: 300;
    color: #000;
}
.recent-cards{
    display: flex;
    justify-content:center;
    margin: 0rem 1rem;
    gap: 2rem;
    color: grey;
    font-weight: 300;
    flex-wrap: wrap;
}
.cards-recent{
    width: 27%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    overflow: hidden;
}
.recent-card-img{
    width: 100%;
}
.recentcard-img-text-1,.recentcard-img-header{
      color: black;
      margin: 1rem;
}
.recentcard-img-header{
    font-weight: 400;
    font-size: 1.2rem;
}

.special-text{
    font-weight: 400;
    color: #067be8;
}
.footer-subcontainer h4{
    font-size: 1rem;
}
.footer-subcontainer ul{
    padding: 0px;
}
.footer-subcontainer ul a{
    font-weight: 300;
}
.recentcard-img-text-2{
    margin: 1rem;
}
.recentcard-img-text-3{
    margin: 1rem;
}
.recent-author{
    color: black;
}
.recent-main{
    padding: 3rem;
}
@media (max-width:1024px){
    .cards-recent{
        width: 45%;
    }
}
@media (max-width:750px){
    .cards-recent{
        width: 100%;
    }
    .recent-main {
    padding: 1rem;
    }
    .recent-cards{
        margin: 0px;
    }
}
/* CSS Agents */

.Agents{
    width: 100%;
}
.Agents-main{
    width: 100%;
    margin: 3rem 0rem;
}
.agents-header{
    text-align: center;
    color: grey;
    margin-bottom: 4.5rem;
}
.agents-text-1{
    color:rgb(43, 157, 227);
    font-weight: 600;
    margin-bottom: 0px!important;
}
.agents-header-head{
    font-weight: 300;
    font-size: 2.4rem;
    color: black;
}
.agents-card-container{
    display: flex;
    margin: 0rem 2rem;
    justify-content: space-evenly;
}
.agents-card{
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7rem 1rem 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
}
.agent-img{
    position:absolute;
    height: 130px;
    top: -15%;
    border-radius: 5px;
}
.arrow{
    display: none;
    height: 50px;
    width: 50px;
    transform:scale(2);
    transition: 0.5s linear;
}
.agent-name{
    font-weight: 400;
    font-size: 1.2rem!important;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.agent-name:hover{
    color:rgb(0, 157, 255) ;
}
.agent-contact{
    font-weight: 400;
    color: rgb(0, 157, 255);
    margin-bottom: 1rem;
}
.agent-contact:hover{
    color: black;
    font-weight: 400;
    transition: 0.2s linear;
}
.agent-mail{
    color: rgb(111, 106, 106);
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
}
.agent-mail:hover{
    color:rgb(0, 157, 255);
    transition: 0.2s linear;
}
.no-properties{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 157, 255);
}
.listed-property-agent{
    font-size: 1rem;
    font-weight: 400;
}
.button-agent{
    bottom: -7%;
    position: absolute;
}
.agents-card:hover .arrow{
    display:block; 
    animation: con 1s ease-in;
    animation-fill-mode:forwards;
}
@keyframes con{
    0%{
        display:inline;
        transform: scale(1.6);
    }
    50%{
        display:inline;
        transform: scale(1);
    }
    100%{
        display: inline;
        transform: scale(1);
    }
}
@media (max-width:1130px){
    .agents-card-container{
        flex-wrap: wrap;
    }
    .agents-card{
        width: 40%;
        margin-bottom: 5.7rem;
    }
    .Agents-main{
        margin: 3rem 0rem 0rem 0rem;
    }
}
@media (max-width:600px){
    .agents-card-container{
        flex-direction: column;
        align-items: center;
    }
    .agents-card{
        width: 90%;
    }
    .last-agent{
        margin: 0rem;
    }
    .Agents-main{
        margin: 3rem 0rem 3rem 0rem;
    }
}
.tick-icon{
    width: 20px;
    height: 20px;
    fill: #ffffff;
    background-color:#4ba5ffe9;
    border-radius: 50%;
    padding: 4px;
}
/* Parallex */

.wrapper{
    height:100vh;
    top: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.bos-container{
    height: 56%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    background-color: #0054ba4f;
    gap: 1rem;
}
.bos-sub-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
@media (max-width:420px){
    .bos-sub-1{
        gap: 0px;
    }
    .bos-top{
        margin-bottom: 0rem;
    }
    .bos-sub-2{
        gap: 0.8rem!important;
        margin-top: 0.5rem!important;
        flex-direction: column;
        align-items: center;
    }  
    .bos-buttons{
        width: 180px;
        flex-basis: 0px!important;
    }
}
@media (max-width:420px){
    .bos-para{
        font-size: 1.5rem!important;
    }
}
@media (max-width:320px){
    .bos-para{
        font-size: 1.5rem!important;
    }
}
.bos-para{
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.bos-sub-2{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.bos-top{
    font-size: 1rem;
    color: rgb(0, 157, 255);
    margin-bottom: 1rem;
}
.bos-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    padding: 1rem;
    flex-basis:180px;
    border-radius: 5px;
    background-color: blueviolet;
    cursor: pointer;
}
.bos-bgimg{
    width:100%;
    height:100vh; 
    position: absolute;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}

.bos-div-container{
    height:100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: -1;
}
.bos-btn1{
    background-color: #1DB2FF;  
}
.bos-btn2{
    background-color: #ababab9c;
}
.bos-buttons:hover{
    background-color: #f5f5f5;
    color: black;
}
/* dfghjk */


.carousel-inner img{
 height: 90vh;
 object-fit: cover;
}
.contactrh{
  display: flex;
  align-items: center;
  gap: 10px;
}
a{
color: white;
font-weight: 500;
text-decoration: none!important;
}
.nav ul{
margin: 0px!important;
padding: 0px!important;
}
.no h2{
font-weight: 400;
font-size: 1.2rem;
}

.no{
display: flex;
align-items: center!important;
flex-wrap: nowrap;
gap: 10px;
}
.no h2{
margin: 0px !important;
}
header{
width: 100%;
padding-bottom: 20px;
padding-top: 20px;
position: absolute;
display:block;
font-family: "Rubik", sans-serif;
z-index: 999999;
color: #fff;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.theader{
display: flex;
justify-content: space-evenly;
}
img{
height: fit-content;
}
.nav-ele-1{
display: flex;
justify-content: center;
}
.nav-ele-2{
display: flex;
align-items: center;
gap: 10px;
}
.logo{
height: fit-content;
}

.navbar{
display: flex;
justify-content: center;
flex-shrink: 0;
align-items: center ;
list-style: none;
gap: 10px;  
}
.Submit{
padding: 10px 15px;
font-size: 15px;
font-weight: bolder;
color: #fff;
border-radius: 5px;
border-style: none;
background: #1db2ff;
}
.element{
padding: 10px 15px;
color: #fff;
border-radius: 5px;
border-style: none;

}

.element:hover{
background:  #0054a5;
}

@media(min-width:640px) and (max-width:1200px){
.navbar{
  display: none;
}
header{
  background-color: #303030;
}
.theader{
  justify-content: space-between;
}

.nav-ele-2{
  padding-right: 10px;
}
.nav-ele-1{
  padding-left: 50px;
}
.no{
  display: flex;
}
.contactrh{
  display: flex;
  gap: 10px;
}
.hamburger{
  display: block!important;
}
}
@media (max-width:640px){
header{
  width: 100%;
  padding: 0px;
}
.theader{
  flex-direction: column;
}
.nav-ele-1{
  text-align: center;
  background: #444444;  
}
.nav-ele-2{
  padding: 10px;
  background:#303030 ; 
}

.navbar{
  display: none;
}
.user{
  position: absolute;
  top:20px;
  left: 10px;
}
.contactrh{
  display: flex;
  align-items: center;
  max-width: 100vw;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex:1;
  gap: 10px;
}
.no{
  display: flex;
  flex-wrap: wrap;
}
.no h2{
  font-weight: 400;
}
.hamburger{
  display: block!important;
  position: absolute;
  top:14px;
  right: 10px;
  z-index: 1;
}
.sidebar{
  z-index: 10;
}
}
@media (max-width:300px){
.sidebar{
  width: 100%!important;
}
}
.sidebar{
position: fixed;
top: 0px;
right: 0px;
height: 100vh;
width: 300px;
display: none;
flex-direction: column;
list-style: none;
backdrop-filter: blur(12px);
background-color: #7170707b;

}
.sidebar li{ 
padding-left: 1.17rem;
height: 62px;
display: flex;
}
.sidebar li a{
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .close{
 padding:0.3rem;
}
.close-img{
width: 100%;
height: 100%;
}
.hamb{
width: 100%;
height: 100%;
}
.hamburger{
display: none;
}
.sidebar li:hover{
background-color: #444444;
cursor: pointer;
}

.carousel-control-next,.carousel-control-prev{
width: auto;
padding: 20px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
background-color: #000000;
padding: 20px;
border-radius: 50%;
}
.property-card{
position: absolute;
width: 500px;
height: 300px;
background-color: #ffffff;
top: 45%;
right: 10%;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
gap: 0.7rem;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.p-c-d{
display: flex;
flex-direction: column;
}
.property-details-card{
display: flex;
gap: 3rem;
}
.property-card-details, .p-c-d-span{
color: grey;
margin: 0px;
}
.p-c-d-span{
margin-bottom: 0.3rem;
}
.p-d-c-icon{
fill: #9b9b9b8c;
}
.p-d-c-price{
color: #3ca1ff;
font-weight: 400;
}
.property-card-head{
font-weight: 400;
}
.property-card-head:hover{
color: #1db2ff;
}
.room-container{
display: flex;
gap: 1rem;
}
@media (min-width:1200px){
.sidebar{
  display: none!important;
}
}



.forsale-container{
display:flex;
flex-direction: column;
gap: 20px;
width: 100%;
padding: 1rem;
}
.forsale-card-container{
display:flex;
width: 100%;
gap: 20px;
justify-content:space-evenly;
flex-wrap: wrap;
}
.forsale-cards{
width: 370px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.forsale-img{
width: 100%;
object-fit: cover;
transform: scale(1.1);
transition: 0.3s linear;
border-radius: 10px 10px 0px 0px;   
}
.fs-para-1{
margin-bottom: 0px;
} 
.property-details-card-fs{
display: flex;
gap: 1rem;
margin-left: 1rem;
margin-bottom: 10px;
font-size: 12px;
fill: grey;
}
.room-container-fs{
display: flex;
gap: 10px;
}
.p-c-d-fs{
display: flex;
flex-direction: column;
gap: 0.7rem;
}
.forsale-price{
display: flex;
justify-content: space-between;
font-size: 1.2rem;
margin-bottom: 10px;
margin-left: 1rem;
margin-right: 1rem;
color: rgba(0, 162, 255, 0.866);
}
.forsale-property-head{
font-size: 1.3rem;
font-weight: 400;
margin-top: 1rem;
margin-left: 1rem;
margin-bottom: 10px;
transition: 0.3s linear;
}
.forsale-property-head:hover{
color:rgba(0, 162, 255, 0.866);
cursor: pointer;
}
.loc-forsale{
width: 20px;
height: 10px!important;
fill: rgb(7, 85, 174);
}
.forsale-location-container{
margin-left: 0.87rem;
display: flex;
align-items: baseline;
font-size: 14px;
margin-bottom: 10px;
}
.forsale-location{
color: rgb(7, 85, 174);
}
.added-date{
display: block;
margin:0px 0px 10px 1rem;
font-weight: 300;
color: grey;
}
.forsale-spicons{
display: flex;
gap: 1rem;
}
.forsale-agent-box{
margin: 0px 1rem 1rem 1rem;
background-color: rgba(232, 232, 232, 0.895);
display: flex;
padding: 10px;
gap: 1rem;
align-items: center;
position: relative;
}
.agent-name-sale{
display: flex;
flex-direction: column;
}
.f-s-agent-img{
height: 50px;
border-radius: 50%;
border:3px solid rgb(231, 231, 231) ;
transition: 0.4s linear;
}
.f-s-agent-img:hover{
border-color: grey;
cursor: pointer;
}
.img-card-fs{
overflow: hidden;
height: 247px;
border-radius: 10px 10px 0px 0px;
}
.img-card-fs:hover .forsale-img{
transform: scale(1);
cursor: pointer;
}
.forsale-container-header{
text-align: center;
line-height: 2rem; 
padding-top: 3rem;
}
.fs-para-1{
color:rgba(0, 162, 255, 0.866);
font-weight: 600;
}
.fs-head-main{
font-weight: 300;
font-size: 2rem;
}
.fs-para-2{
color: grey;
}
.fs-icons-1{
fill: grey;
}
.fs-heart:hover{
fill: rgb(254, 75, 75)!important;
cursor: pointer;
}
.fs-icons-1:hover{
fill: rgb(82, 255, 82);
cursor: pointer;
}
.loc-img{
display: flex;
align-items: center;
}
@media (max-width:775px){
.forsale-cards{
width: 100%;
}
.img-card-fs{
height: auto;
}
}
@media (max-width:625px){
.property-details-card{
display: none;
}
.property-card{
height: auto;
width: auto;
display: block;
position: absolute;
top: 60%;
}
}
@media (max-width:495px){
.property-card{
margin-left: 10%;
margin-right: 10%;
right: 0%;
padding: 1rem;
}
}
/* Location-CSS */
.location-container-main{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 50px;
    width: 100%;
    height: 50%;
    text-align: center;
    margin: 40px 0px;
    font-family: "Rubik", sans-serif;
    background: #fff;
}
.location-head{
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: capitalize;
}
.head-ele .blue-text{
    margin-bottom:0px!important ;
}
.location-container-sub{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.location-img{
    height: 500px;
    width: 270px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(60%);
    transition: 0.3s ease-in;
}
.location-img:hover{
    filter: brightness(100%);
}
.location-divs{
    position: relative;
    
}
.location-name{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 20px;
    left: 25px;
    z-index: 10;
}
.property-count{
    position: absolute;
    color: #fff;
    top: 55px;
    left: 25px;
    z-index: 10;
}
.grey-text{
    color: grey;
}
.head-ele{
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}
@media(min-width:811px) and (max-width:1185px){
   .location-container-sub{
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    gap: 5px;
   }
   .location-divs{
    flex-shrink: 1;
    width: 25%;
    height: 80%;
   }
   .location-img{
    flex-shrink: 1;
    width: 100%;
   }
   .head-ele{
    margin: 0px 10px;
   }    
}
@media(max-width:810px){
    .location-head{
        font-size: 2em;
        margin: 0px 10px;
    }
    .location-img{
       width: 100%;
    }
    .location-divs{
        width: 100%;
        margin: 0px 10px;
        
    }
    .head-ele{
        margin-left: 10%;
        margin-right: 10%;
    }
}  
.blue-text{
    font-weight: 600;
    color: rgb(0, 157, 255);
}
.fa:hover{
    color: white!important;
}   
.quote-container{
width: 100%;
height: 400px; 
background-color: rgb(36, 85, 164);
font-family: "Rubik", sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.quote-container p{
font-size: 3rem;
font-weight:500;
color: white;
}   
@media (max-width:503px){
.quote-container p{
  font-size: 1.2rem;
}
}  